.sectionTwo {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 52px;
  position: relative;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 530px 1fr;

  }
}

.sectionTwo__aux {
  position: relative;
  height: 468px;
}

.sectionTwo__aux__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sectionTwo__aux {
  position: relative;
}

.sectionTwo__carousel {
  width: 333px;
  position: absolute;
  top: 38px;
  left: 50px;

  @media screen and (min-width:768px) {
    left: 200px;
  }

}

.sectionTwo__aux__bg {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel__dots {
  margin-top: 40px;

  a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $lightGray;
    display: inline-block;
    margin-right: 22px;
  }
}

.carousel__arrows {
  margin-top: 20px;
  a {
    width: 55px;
    height: 55px;
    border: 1px solid white;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 5px 0;
    box-sizing: border-box;
    margin-right: 19px;
    &:hover{
      background:$lemonGreen;
      transition: all 0.3s ease-in-out;
    }
  }
}

.sectionTwo__main {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  align-items: center;
  grid-column-gap: 36px;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 288px);
  }
}

.sectionTwo__main__item {
  margin: 1em auto;
  position: relative;
}

.numberButton {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 39px;
  height: 39px;
  background-color: #cbe346;
  border-radius: 50%;
  text-align: center;
  padding: calc(39px /4) 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.carousel__item {
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.06px;
  color: white;
}

.carousel__item__title {
  h3 {
    margin: 0;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: -0.06px;
  }
}

.carousel__item__description {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.51px;
  word-break: break-word;

  @media screen and (min-width: 768px) {
    width: 303px;
  }
}
