footer
    div.social-menus
        ul.footer-menu
            li
                a(href="") Inicio                              
            li
                a(href="") Acerca de nosotros
            li
                a(href="") Historia
            li
                a(href="") Contacto 

        nav.social-links
            a(href="") 
                i.fab.fa-linkedin-in(aria-hidden='true') 
            a(href="") 
                i.fab.fa-vimeo-v(aria-hidden='true')  
            a(href="") 
                i.fab.fa-instagram(aria-hidden='true') 
            a(href="") 
                i.fab.fa-facebook-f(aria-hidden='true')    
            a(href="") 
                i.fab.fa-twitter(aria-hidden='true')  
    div.footer-ball
        img(src="././images/assets/fill-2.png")