section.sectionTwo
    div.sectionTwo__aux
        div.sectionTwo__aux__bg
            img(src="././images/assets/ball-court.png")
        div.sectionTwo__carousel
            article.carousel__item
                div.carousel__item__title
                    h3 Nuestras Raquetas
                div.carousel__item__description
                    Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.
            div.carousel__dots
                a(href="")
                a(href="")
                a(href="")
            div.carousel__arrows
                a(href="")
                    i.fas.fa-caret-left(aria-hidden='true') 
                a(href="")
                    i.fas.fa-caret-right(aria-hidden='true')

    div.sectionTwo__main
        article.sectionTwo__main__item
            a.numberButton(href="") 1
            img(src="././images/assets/group-11.png")
        article.sectionTwo__main__item
            a.numberButton(href="") 2
            img(src="././images/assets/group-11.png")
        article.sectionTwo__main__item
            a.numberButton(href="") 3
            img(src="././images/assets/group-11.png")
